#chessBoard {
	border-collapse: collapse;
	margin: auto;
}

#chessBoard td {
	height: calc(50vh / 5);
	width: calc(50vh / 5);
	border: solid;
}

.blackSquare {
	background-color: #6d3c03;
}

.whiteSquare {
	background-color: #ffe1a0;
}

.piece {
	height: 100%;
	width: 100%;
}

.movableSpace {
	border: 2px solid blue;
	background-color: blue;
	opacity: .3;
	height: 100%;
	width: 100%;
}